<h1 style="color: rgb(224, 224, 224); margin-top: 25px;">Perfis</h1>
<div class="div-card">
  <div class="card" style="width: 18rem;">
    <img src="assets/img/estudante.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h1>Estudante</h1>
      <p class="card-text">Você tem a oportunidade de destacar e promover seu projeto, conectando-se a investidores interessados em colaborar e associar-se à sua visão inovadora.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/img/investidor.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h1>Investidor</h1>
      <p class="card-text">Seja um catalisador do desenvolvimento ao contribuir para o crescimento dos projetos dos estudantes, que não se limita apenas à alocação de recursos financeiros.</p>
    </div>
  </div>
</div>
