<h1>Seja bem vindo ao curso de Angular</h1>
<h4 class="text-danger"> {{ anuncio }} </h4>
<app-card-produto
foto="https://nolae.eu/cdn/shop/products/ateez-the-world-ep2-outlaw-nolae-421420_1200x1200.jpg?v=1684312595"
nomeProduto="ATEEZ"
[promocao]="false"
[idProduto]="idProduto"
[dataValidade]="dataValidade"
[precoProduto]="precoProduto"
></app-card-produto>

<app-card-produto
foto="https://m.media-amazon.com/images/I/81QdBnX+HnL._UF1000,1000_QL80_.jpg"
nomeProduto="NEWJEANS"
[promocao]="false"
[idProduto]="idProduto"
[dataValidade]="dataValidade"
[precoProduto]="precoProduto"
></app-card-produto>

<app-card-produto
foto="https://www.xantilly.com.br/cdn/shop/files/8c152bed-e9d9-445d-aa30-46bf9c321d2c.jpg?v=1685645221"
nomeProduto="STRAY KIDS"
[promocao]="false"
[idProduto]="idProduto"
[dataValidade]="dataValidade"
[precoProduto]="precoProduto"
></app-card-produto>

<app-card-produto
foto="https://i.pinimg.com/originals/61/84/cf/6184cf36ed4dd5da43036d25c3d6b1b4.jpg"
nomeProduto="TAEYEON"
[promocao]="false"
[idProduto]="idProduto"
[dataValidade]="dataValidade"
[precoProduto]="precoProduto"
></app-card-produto>

