<h1 class="my-3" style="color: white;">Publicar Projeto</h1>

<div class="card shadow">
  <form class="m-3">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nomeProjeto">Nome do Projeto: </label>
          <input type="text" class="form-control" placeholder="Digite o nome do Projeto" name="nomeProjeto" [(ngModel)]="produto.nomeProjeto" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="publicacao">Data de Publicação: </label>
          <input type="date" class="form-control" name="publicacao" [(ngModel)]="produto.publicacao"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="nomeAutor">Nome do Autor: </label>
          <input type="text" class="form-control" placeholder="Digite o nome do Autor" name="Autor" [(ngModel)]="produto.nomeAutor"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-default" routerLink="/produtos" style="color: white;">Voltar</button>
        <button class="btn btn-success float-right" (click)="salvarProduto()">Salvar</button>

      </div>
    </div>
  </form>
</div>





















<!-- <div>
  <label for="nome">Nome do Produto</label>
<input
  type="text"
  class="form-control"
  placeholder="Digite o nome do Produto"
  name="nomeProduto"
  [(ngModel)]="nome"
/>
<input
  type="date"
  class="form-control"
  name="validade"
  [(ngModel)]="validade"
/>
<input
  type="number"
  class="form-control"
  placeholder="0.00"
  name="preco"
  [(ngModel)]="preco"
/>

<button  class="btn btn-sucess float-right" (click)="salvarProduto()">Salvar</button>
</div>

<div class="card mt-3">
  <p>Nome: {{nome}}</p>
  <p>Validade: {{validade}}</p>
  <p>Preço: {{preco}}</p>
</div> -->
